* {
  display: table;
  background-color: rgb(245, 230, 212);
  line-height: 2.5vw;
}

originalName {
  font-size: 1.5vw;
}

oldName {
  color: rgb(95, 94, 94);
}

category {
  display: block;
}

category {
  font-size: 30px;
  background-color: rgb(240, 221, 197);
  display: inline-block;
  border-left-style: ridge;
  margin-top: 1vw;
  padding-left: 5px;
}

menuItem {
  border: 2px solid rgba(250, 128, 114, 0.445);
  display: inline-block;
  width: 98%;
  border-radius: 2vw;
  padding: 1vw;
  margin-top: 1vw;
}

title {
  font-size: 30px;
}

menuInfo {
  margin: 1vw;
}

price {
  padding-right: 1vw;
  padding-left: 1vw;
  color: green;
  background-color: white;
  border-radius: 2vw;
  margin-bottom: 1vw;
}

indicator {
  display: inline-block;
}
